@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DeliveryCart</h1>
    <p>Shop from some of your favorite grocery stores with delivery straight to your door</a>.</p>
</div>

    
    <div class="text-center">
        <a asp-page="/Customers/Create" class="btn btn-primary">Register as Customer</a>
        <a asp-page="/Shoppers/Create" class="btn btn-primary">Register as Shopper</a>
    </div>
</div>
