@page
@model DeliveryCart.Pages_Products.IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to DeliveryCart</h1>
        <p>Shop from some of your favorite grocery stores with delivery straight to your door</a>.</p>
</div>



